:root {
  --widthSpan: '10px';
}


:host{
  display: flex;
  gap: 1em;
  width: 100%;
  // justify-content: space-between;
  flex-flow: row wrap;
  // width: --widthSpan;
}

.audioclip-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .3em;
  background: green;
  max-width: var(--widthSpan);
  // background: rgba(0, 0, var(--widthSpan))
}
